/*###### NAV ######*/

.w-15{
    width: 15%;
}


/*###### NAV ######*/



/*###### CAROUSEL ######*/
#carouselId{
    position: relative;
}
.titredev{
    position: absolute;
    z-index: 1;
    text-align: center;
    color: white;
    top: 65%;
    left: 4%;
}
.bg-noir-fade{
    background-color: rgba(0, 0, 0, 0.39);
}

/*###### CAROUSEL ######*/



/*###### MAIN ######*/
.bg-finance{
    background-color: rgb(80, 255, 173);
}
.btn-color{
    background-color: gray;
}

/*###### MAIN ######*/

