body{
    background: linear-gradient(to bottom right, rgb(0, 119, 255), rgba(150, 253, 31, 0.753))
}
/*###### NAV ######*/

.w-15{
    width: 15%;
}
.navbar{
    position: fixed;
    z-index: 10;
    top: 0px;
    left: 0px;
    right: 0px;
}

/*###### NAV ######*/


/*###### CAROUSEL ######*/
#carouselId{
    position: relative;
}
.titredev{
    position: absolute;
    z-index: 1;
    text-align: center;
    color: white;
    top: 65%;
    left: 4%;
}
.bg-noir-fade{
    background-color: rgba(0, 0, 0, 0.39);
}

/*###### CAROUSEL ######*/



/*###### MAIN ######*/
main{
    margin-top: 20%;

}
.bg-finance{
    background-color: rgb(80, 255, 173);
}
.btn-color{
    background-color: gray;
}

/*###### MAIN ######*/

